<a href="https://colab.research.google.com/github/nayashbrn/Algoritma-Pemrograman/blob/main/Inayah_Cikal_Nurshabrina_Praktikum_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PRAKTIKUM 01 - TUPLE : DATA TETAP YANG TIDAK BISA DIUBAH**

In [ ]:
koordinat = (7.05, 110.44)
print("Lintang:", koordinat[0])
print("Bujur:", koordinat[1])

Lintang: 7.05
Bujur: 110.44

# **PRAKTIKUM 02 - DICTIONARY DASAR : MENYIMPAN DATA MAHASISWA**

In [ ]:
mahasiswa = {
    "NIM": "20251001",
    "Nama" : "Andi",
    "Prodi" : "TRK"
}

print("NIM:", mahasiswa ["NIM"])
print("Nama:", mahasiswa ["Nama"])
print("Prodi:", mahasiswa ["Prodi"])

NIM: 20251001
Nama: Andi
Prodi: TRK

# **PRAKTIKUM 03 - OPERASI PADA DIRECTIONARY**

In [ ]:
mahasiswa={
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK",
}

mahasiswa["Umur"] = 20
mahasiswa["Prodi"] = "Teknik Komputer"
del mahasiswa ["Umur"]

print(mahasiswa)

{'NIM': '20251001', 'Nama': 'Andi', 'Prodi': 'Teknik Komputer'}

# **PRAKTIKUM 04 - SET DAN OPERASI HIMPUNAN**

In [ ]:
A= {1,2,3,4}
B= {3,4,5,6}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B )

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

# **PRAKTIKUM 05 - STUDI KASUS : DATA MAHASISWA DAN MATA KULIAH**

In [ ]:
mhs1={"Algoritma", "Matematika", "Bahasa Inggris"}
mhs2={"Algoritma", "Basis Data", "Matematika"}

print("Mata kuliah mhs1:", mhs1)
print("Mata kuliah mhs2:", mhs2)
print("Mata kuliah yang samma:", mhs1 & mhs2)

Mata kuliah mhs1: {'Bahasa Inggris', 'Matematika', 'Algoritma'}
Mata kuliah mhs2: {'Basis Data', 'Matematika', 'Algoritma'}
Mata kuliah yang samma: {'Matematika', 'Algoritma'}

#  **PRAKTIKUM 06 - STUDI KASUS DICTIONARY : DAFTAR NILAI MAHASISWA**

In [ ]:
nilai_mahasiswa = {
    "Andi" : 80,
    "Budi" : 75,
    "Cici" : 90
}

for nama, nilai in nilai_mahasiswa.items():
    print(f"{nama}: {nilai}")
rata=sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai: {rata:.2f}")

Andi: 80
Budi: 75
Cici: 90
Rata-rata nilai: 81.67

# **PENUGASAN 01 - TUPLE SEDERHANA**

In [1]:
mahasiswa = ("Cikal", 18, "TRK")

print("Nama  :", mahasiswa[0])
print("Umur  :", mahasiswa[1])
print("Prodi :", mahasiswa[2])

Nama  : Cikal
Umur  : 18
Prodi : TRK

# **PENUGASAN 02 - TUPLE TIDAK BISA DIUBAH**

In [2]:
angka = (1, 2, 3)

# Mencoba mengubah elemen pertama
angka[0] = 10

TypeError: 'tuple' object does not support item assignment

# **PENUGASAN 03 - DICTIONARY DASAR**

In [4]:
buku = {
    "Judul": "Algoritma",
    "Penulis": "Munir",
    "Tahun": 2021
}

print("Judul:", buku ["Judul"])
print("Penulis:", buku ["Penulis"])
print("Tahun:", buku ["Tahun"])

Judul: Algoritma
Penulis: Munir
Tahun: 2021

# **PENUGASAN 04 - OPERASI DICTIONARY**

In [5]:
dosen = {
    "NIP": "12345",
    "Nama": "Budi",
    "Prodi": "TRK"
}

dosen["Umur"] = 40
dosen["Prodi"] = "Teknik Komputer"
del dosen["Umur"]

print("Data Dosen Akhir:")
print(dosen)

Data Dosen Akhir:
{'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'Teknik Komputer'}

# **PENUGASAN 05 - SET DAN HIMPUNAN**

In [6]:
A = {"Matematika", "Algoritma", "Bahasa Inggris"}
B = {"Algoritma", "Basis Data", "Matematika"}

union_set = A.union(B)
intersection_set = A.intersection(B)
difference_set = A.difference(B)

print("Union        :", union_set)
print("Intersection :", intersection_set)
print("Difference   :", difference_set)

Union        : {'Matematika', 'Algoritma', 'Bahasa Inggris', 'Basis Data'}
Intersection : {'Matematika', 'Algoritma'}
Difference   : {'Bahasa Inggris'}

# **PENUGASAN 06 - STUDI KASUS DICTIONARY**

In [7]:
nilai = {
    "Andi": 85,
    "Budi": 90,
    "Cici": 78
}

print("Daftar Nilai Mahasiswa:")
for nama, skor in nilai.items():
    print(f"{nama} : {skor}")

rata_rata = sum(nilai.values()) / len(nilai)
print(f"\nRata-rata nilai: {rata_rata:.2f}")

Daftar Nilai Mahasiswa:
Andi : 85
Budi : 90
Cici : 78

Rata-rata nilai: 84.33

# **PENUGASAN 07 - STUDI KASUS SET - KLUB MAHASISWA**

In [8]:
klub_A = {"Andi", "Budi", "Cici"}
klub_B = {"Cici", "Deni", "Eka"}

semua_anggota = klub_A.union(klub_B)
anggota_keduanya = klub_A.intersection(klub_B)
hanya_A = klub_A.difference(klub_B)

print("Daftar seluruh anggota (Union):", semua_anggota)
print("Anggota di kedua klub (Intersection):", anggota_keduanya)
print("Anggota hanya di Klub A (Difference):", hanya_A)

Daftar seluruh anggota (Union): {'Deni', 'Eka', 'Andi', 'Cici', 'Budi'}
Anggota di kedua klub (Intersection): {'Cici'}
Anggota hanya di Klub A (Difference): {'Andi', 'Budi'}