<a href="https://colab.research.google.com/github/nayashbrn/Algoritma-Pemrograman/blob/main/Inayah_Cikal_Nurshabrina_Jobsheet__2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Praktikum 01 - Pengenalan Variabel dan Tipe Data**

In [ ]:
# Integer
umur = 20
print ("Umur:", umur, "->", type(umur))

#float
tinggi = 170.5
print ("Tinggi", tinggi, "->", type(tinggi))

#String
nama = "Andi"
print("Nama:", nama, "->", type(nama))

#Boolean
is_mahasiswa = True
print("Status Mahasiswa:", is_mahasiswa, "->", type(is_mahasiswa))

#List
nilai = [80, 85,90]
print("Nilai:", nilai, "->", type(nilai))

#Tuple
koordinat = (10, 20)
print ("Koordinat:", koordinat, "->", type(koordinat))

#Dictionary
mahasiswa = {"nama": "Andi", "umur": 20, "prodi": "TRK"}
print ("Data Mahasiswa:", mahasiswa, "->", type (mahasiswa))

#Set
hobi = {"membaca", "olahraga", "musik"}
print ("Hobi:", hobi, "->", type(hobi))

Umur: 20 -> <class 'int'>
Tinggi 170.5 -> <class 'float'>
Nama: Andi -> <class 'str'>
Status Mahasiswa: True -> <class 'bool'>
Nilai: [80, 85, 90] -> <class 'list'>
Koordinat: (10, 20) -> <class 'tuple'>
Data Mahasiswa: {'nama': 'Andi', 'umur': 20, 'prodi': 'TRK'} -> <class 'dict'>
Hobi: {'musik', 'membaca', 'olahraga'} -> <class 'set'>

**Praktikum 02 - Input dan Output Dasar**

In [ ]:
#Input string
nama=input("Masukkan nama Anda:")

#Inputinteger
umur=int(input("Masukkan umur Anda:"))

#Inputfloat
tinggi=float(input("Masukkan umur Anda:"))

#Outputstandar
print ("Halo,", nama, "Umur Anda:", umur, "tahun, tinggi:", tinggi, "cm")

#Output dengan format ()
print ("Halo {0}, umur Anda {1} tahun, tinggi {2} cm". format(nama, umur, tinggi))

#Output dengan f-string
print (f"Halo {nama}, umur Anda {umur} tahun, tinggi {tinggi} cm")

Masukkan nama Anda:Naya
Masukkan umur Anda:17
Masukkan umur Anda:17
Halo, Naya Umur Anda: 17 tahun, tinggi: 17.0 cm
Halo Naya, umur Anda 17 tahun, tinggi 17.0 cm
Halo Naya, umur Anda 17 tahun, tinggi 17.0 cm

**Prakrikum 03 - Operator Aritmatika**

In [ ]:
a=15
b=4

print("a+b=", a+b)
print("a-b=", a-b)
print("a*b=", a*b)
print("a/b=", a/b)
print("a//b=", a//b)
print("a%b=", a%b)
print("a**b=", a**b)
#Hasil program menunjukkan bahwa Python mampu melakukan perhitungan dasar dengan operator yang sederhana dan intuitif

a+b= 19
a-b= 11
a*b= 60
a/b= 3.75
a//b= 3
a%b= 3
a**b= 50625

**Praktikum 04 - Operator Relasional**

In [ ]:
x=10
y=20

print("x == y:", x == y)
print("x != y:", x != y)
print("x < y:", x < y)
print("x > y:", x > y )
print("x <= y:", x <= y)
print("x >= y:", x >= y)

x == y: False
x != y: True
x < y: True
x > y: False
x <= y: True
x >= y: False

**Praktikum 05 - Operator Logika dengan Studi Kasus Nyata**

In [ ]:
#Operator logika dasar
a=True
b=False

print("a and b=", a and b)
print("a or b =", a or b)
print("not a =", not a)

#Studi kasus nyata: kelulusan
nilai=int(input("Masukkan nilai ujian:"))
hadir=int(input("Masukkan jumlah kehadiran:"))

lulus_nilai=nilai >= 60
lulus_hadir=hadir >= 12 #dari 16 pertemuan

if lulus_nilai and lulus_hadir:
    print("Status: LULUS")
else:
  print("Status: TIDAK LULUS")

a and b= False
a or b = True
not a = False
Masukkan nilai ujian:85
Masukkan jumlah kehadiran:15
Status: LULUS

**Praktikum 06 - Program Kasir Sederhana**

In [ ]:
barang=input("Masukkan nama barang:")
harga=float(input("Masukkan harga barang:"))
jumlah=int(input("Masukkan jumlah barang:"))

total = harga*jumlah

#Aturan diskon
if total >= 500000:
    diskon = 0.2
elif total >= 250000:
    diskon = 0.1
else:
  diskon = 0

potongan=total*diskon
bayar=total-potongan

print("\n===== Struk Belanja =====")
print(f"Barang : {barang}")
print(f"Jumlah : {jumlah}")
print(f"Total : Rp {total}")
print(f"Diskon : {diskon * 100}%")
print(f"Bayar : Rp {bayar}")

Masukkan nama barang:sepatu
Masukkan harga barang:2000000
Masukkan jumlah barang:2

===== Struk Belanja =====
Barang : sepatu
Jumlah : 2
Total : Rp 4000000.0
Diskon : 20.0%
Bayar : Rp 3200000.0

**Penugasan 1 - Identitas Mahasiswa**

In [ ]:
nama = "Naya"
Umur = 17
Tinggi = 155.0
Status_Aktif = True

print(f"Halo {nama}, umur saya {Umur} tahun, tinggi {Tinggi} cm, status aktif {Status_Aktif}")

Halo Naya, umur saya 17 tahun, tinggi 155.0 cm, status aktif True

**Penugasan 2 - Operasi Aritmatika**

In [ ]:
a=int(input("Masukkan nilai a:"))
b=int(input("Masukkan nilai b:"))

print("a+b=", a+b)
print("a-b=", a-b)
print("a*b=", a*b)
print("a/b=", a/b)
print("a%b=", a%b)
print("a**b=", a**b)

Masukkan nilai a:10
Masukkan nilai b:10
a+b= 20
a-b= 0
a*b= 100
a/b= 1.0
a%b= 0
a**b= 10000000000

**Penugasan 3 - Konversi Nilai**

In [ ]:
a=float(input("Masukkan bilangan a:"))

print("Hasil Konversi Integer=", int(a))
print("Hasil konversi string=", str(a))
print("Hasil pembulatan=", round(a))

Masukkan bilangan a:12.6
Hasil Konversi Integer= 12
Hasil konversi string= 12.6
Hasil pembulatan= 13

**Penugasan 4 - Operator Relasional**

In [ ]:
a=int(input("Masukkan nilai a:"))
b=int(input("Masukkan nilai b:"))

print("a == b:", a==b)
print("a != b:", a!=b)
print("a < b:", a<b)
print("a > b:", a>b)
print("a <= b:", a<=b)
print("a >= b:", a>=b)

Masukkan nilai a:5
Masukkan nilai b:10
a == b: False
a != b: True
a < b: True
a > b: False
a <= b: True
a >= b: False