<a href="https://colab.research.google.com/github/nayashbrn/Algoritma-Pemrograman/blob/main/Inayah_Cikal_Nurshabrina_Praktikum_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PRAKTIKUM 01 - MEMBUAT DAN MENGAKSES LIST 1D**

In [ ]:
mahasiswa=["Andi", "Budi", "Cici"]
print(mahasiswa[0])   # Andi
print(mahasiswa[1])   # Budi
print(mahasiswa[-1])  # Cici

Andi
Budi
Cici

# **PRAKTIKUM 02 - UPDATE DAN OPERASI DASAR LIST**

In [ ]:
nilai=[85, 90, 78]
nilai[1]=95
nilai.append(100)
nilai.remove(78)
print(nilai)

[85, 95, 100]

# **PRAKTIKUM 03 - SLICING LIST**

In [ ]:
nilai=[85,90,78,92,88]
print(nilai[0:3])
print(nilai[2:])
print(nilai[:3])

[85, 90, 78]
[78, 92, 88]
[85, 90, 78]

# **PRAKTIKUM 04 - LIST 2D (MATRIKS)**

In [ ]:
matriks= [
    [1,2,3],
    [4,5,6],
    [7,8,9],
]

print(matriks [0] [0])
print(matriks [1] [2])
print(matriks [2])

1
6
[7, 8, 9]

# **PRAKTIKUM 05 - OPERASI PADA LIST 2D**

In [ ]:
A=[[1,2,3], [4,5,6]]
B=[[7,8,9], [10,11,12]]
C=[]

for i in range (len(A)):
  baris = []
  for j in range (len(A[0])):
    baris.append(A[i][j] + B[i][j])
  C.append(baris)
print(C)

[[8, 10, 12], [14, 16, 18]]

# **PRAKTIKUM 06 - STUDI KASUS : PENGELOLAAN NILAI MAHASISWA**

In [ ]:
nilai= [
    [80, 90, 85],
    [70, 75, 80],
    [88, 92, 84]
]

for i, baris in enumerate(nilai, start=1):
  rata=sum(baris) / len(baris)
  print(f"Rata-rata mahasiswa {i}: {rata:.2f}")

Rata-rata mahasiswa 1: 85.00
Rata-rata mahasiswa 2: 75.00
Rata-rata mahasiswa 3: 88.00

# **PENUGASAN 01 - AKSES ELEMENT LIST**

In [1]:
mahasiswa=["Andi", "Budi", "Cikal", "Naya", "Aghi"]
print("Nama pertama:", mahasiswa[0])
print("Nama terakhir:", mahasiswa[-1])
print("Nama indeks ke-2:", mahasiswa[2])

Nama pertama: Andi
Nama terakhir: Aghi
Nama indeks ke-2: Cikal

# **PENUGASAN 02 - OPERASI DASAR LIST**

In [2]:
nilai=[70, 75, 80]
nilai[1]=85
nilai.append(90)
nilai.remove(70)
print(nilai)

[85, 80, 90]

# **PENUGASAN 03 - SLICING LIST**

In [10]:
nilai=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nilai[0:3])
print(nilai[-4:])
print(nilai[::2])

[1, 2, 3]
[7, 8, 9, 10]
[1, 3, 5, 7, 9]

# **PENUGASAN 04 - LIST 2D - MATRIKS**

In [11]:
matriks= [
    [1,2,3],
    [4,5,6],
]

print("Baris pertama kolom kedua:", matriks [0] [1])
print("Seluruh baris pertama:", matriks [0])
print("Baris kedua kolom ketiga:", matriks [1] [2])

Baris pertama kolom kedua: 2
Seluruh baris pertama: [1, 2, 3]
Baris kedua kolom ketiga: 6

# **PENUGASAN 05 - OPERASI MATRIKS 2D**

In [12]:
matriks1 = [
    [1, 2],
    [3, 4]
]

matriks2 = [
    [5, 6],
    [7, 8]
]

hasil = [
    [matriks1[0][0] + matriks2[0][0], matriks1[0][1] + matriks2[0][1]],
    [matriks1[1][0] + matriks2[1][0], matriks1[1][1] + matriks2[1][1]]
]

print("Matriks 1:", matriks1)
print("Matriks 2:", matriks2)
print("Hasil penjumlahan:")
for baris in hasil:
    print(baris)

Matriks 1: [[1, 2], [3, 4]]
Matriks 2: [[5, 6], [7, 8]]
Hasil penjumlahan:
[6, 8]
[10, 12]

# **PENUGASAN 06 - RATA RATA NILAI MAHASISWA**

In [13]:
nilai= [
    [75, 80, 85],
    [60, 70, 65],
    [90, 95, 92]
]

for i, baris in enumerate(nilai, start=1):
  rata=sum(baris) / len(baris)
  print(f"Rata-rata mahasiswa {i}: {rata:.2f}")

Rata-rata mahasiswa 1: 80.00
Rata-rata mahasiswa 2: 65.00
Rata-rata mahasiswa 3: 92.33

# **PENUGASAN 07 - STUDI KASUS - DATA TOKO**

In [14]:
stok = [
    ["Buku", 20],
    ["Pulpen", 35],
    ["Penghapus", 15]
]

print("Daftar Stok Barang:")
for item in stok:
    print(f"{item[0]} : {item[1]}")

barang_terbanyak = stok[0]
for item in stok:
    if item[1] > barang_terbanyak[1]:
        barang_terbanyak = item

print(f"\nBarang dengan stok terbanyak adalah {barang_terbanyak[0]} ({barang_terbanyak[1]} buah).")

Daftar Stok Barang:
Buku : 20
Pulpen : 35
Penghapus : 15

Barang dengan stok terbanyak adalah Pulpen (35 buah).