<a href="https://colab.research.google.com/github/nayashbrn/Algoritma-Pemrograman/blob/main/Inayah_Cikal_Nurshabrina_Praktikum_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PRAKTIKUM 01 - PERULANGAN FOR DENGAN RANGE**

In [ ]:
for i in range(1, 5):
  print(i)

1
2
3
4

# **PRAKTIKUM 02 - PERULANGAN WHILE**

In [ ]:
n = int(input("Masukkan angka:"))
while n > 0:
  print(n)
  n -= 1

Masukkan angka:5
5
4
3
2
1

# **PRAKTIKUM 03 - NESTED LOOP (SEGITIGA BINTANG)**

In [ ]:
for i in range(1, 5):
  for j in range(i):
    print ("*", end="")
  print()

*
**
***
****

# **PRAKTIKUM 04 - BREAK DAN CONTINUE**

In [ ]:
#Kode Python Break

for i in range(1, 10):
  if i == 5:
    print("Angka 5 ditemukan")
    break

Angka 5 ditemukan

In [ ]:
#Kode Python Continue

for i in range(1, 5):
  if i % 2 == 1:
    continue
  print(i)

2
4

# **PRAKTIKUM 05 - FOR PADA DICTIONARY**

In [ ]:
data = {"Nama": "Andi", "Umur": 20, "Prodi": "TRK"}

for k, v in data.items():
  print(k, ":", v)

Nama : Andi
Umur : 20
Prodi : TRK

# **PRAKTIKUM 06 - FOR DENGAN ENUMERATE**

In [ ]:
daftar = ["Andi", "Budi", "Cici"]

for i, nama in enumerate(daftar, start=1):
  print(i, nama)

1 Andi
2 Budi
3 Cici

# **PRAKTIKUM 07 - STUDI KASUS : PROGRAM KASIR MULTI-ITEM**

In [ ]:
total = 0

while True:
  barang=input("Masukkan nama barang (ketik 'selesai') untuk berhenti):")
  if barang.lower() == "selesai":
    break
  harga = float(input(f"Masukkan harga {barang}:"))
  jumlah = int(input(f"Masukkan jumlah {barang}:"))
  subtotal = harga * jumlah
  total += subtotal

print("\n===== Struk Belanja =====")
print(f"Total Belanja : Rp {total}")

Masukkan nama barang (ketik 'selesai') untuk berhenti):Buku
Masukkan harga Buku:50000
Masukkan jumlah Buku:2
Masukkan nama barang (ketik 'selesai') untuk berhenti):Pulpen
Masukkan harga Pulpen:5000
Masukkan jumlah Pulpen:3
Masukkan nama barang (ketik 'selesai') untuk berhenti):selesai

===== Struk Belanja =====
Total Belanja : Rp 115000.0

# **PENUGASAN 01 - MENAMPILKAN DERET ANGKA**

In [2]:
for i in range(3, 31, 3):
  print(i)

3
6
9
12
15
18
21
24
27
30

# **PENUGASAN 02 - HITUNG FAKTORIAL**

In [3]:
n = int(input("Masukkan angka:"))

faktorial = 1
i = 1

while i <= n:
  faktorial *= i
  i += 1

print("Faktorial dari", n, "adalah", faktorial)

Masukkan angka:5
Faktorial dari 5 adalah 120

# **PENUGASAN 03 - SEGITIGA TERBALIK**

In [8]:
tinggi = 5

for i in range(tinggi, 0, -1):
  for j in range(i):
    print ("*", end="")
  print()

*****
****
***
**
*

# **PENUGASAN 04 - CARI BILANGAN PRIMA DENGAN BREAK**

In [9]:
n = int(input("Masukkan bilangan: "))

if n > 1:                   # Bilangan prima harus lebih besar dari 1
    for i in range(2, n):
        if n % i == 0:
            print(n, "bukan bilangan prima.")
            print("Karena dapat dibagi oleh", i)
            break
    else:
        print(n, "adalah bilangan prima.")
else:
    print(n, "bukan bilangan prima.")

Masukkan bilangan: 7
7 adalah bilangan prima.

# **PENUGASAN 05 - MENAMPILKAN HANYA BILANGAN GENAP DENGAN CONTINUE**

In [10]:
for i in range(1, 21):
    if i % 2 != 0:
        continue
    print(i)

2
4
6
8
10
12
14
16
18
20

# **PENUGASAN 06 - ITERASI DICTIONARY MAHASISWA**

In [11]:
mahasiswa = {"Nama": "Budi", "Umur": 21, "Prodi": "Teknik Komputer"}

for k, v in mahasiswa.items():
  print(k, ":", v)

Nama : Budi
Umur : 21
Prodi : Teknik Komputer

# **PENUGASAN 07 - ENUMERATE DAFTAR BARANG**

In [12]:
daftar = ["Buku", "Pulpen", "Tas"]

for i, nama in enumerate(daftar, start=1):
  print(i, nama)

1 Buku
2 Pulpen
3 Tas

# **PENUGASAN 08 - STUDI KASUS - KASIR DISKON**

In [13]:
total = 0
daftar_belanja = []

while True:
    nama_barang = input("Masukkan nama barang: ")

    if nama_barang.lower() == "selesai":
        break

    harga = int(input("Masukkan harga barang (Rp): "))
    jumlah = int(input("Masukkan jumlah barang: "))

    subtotal = harga * jumlah
    total += subtotal

    # Simpan ke daftar belanja
    daftar_belanja.append((nama_barang, harga, jumlah, subtotal))
    print(f"{nama_barang} ditambahkan ke keranjang.\n")

# Hitung diskon
diskon = 0
if total >= 200000:
    diskon = total * 0.10

total_bayar = total - diskon

# Tampilkan struk belanja
print("\n=== STRUK BELANJA ===")
for item in daftar_belanja:
    print(f"{item[0]} (Rp {item[1]} x {item[2]}) = Rp {item[3]}")
print("----------------------------")
print(f"Total Harga : Rp {total}")
print(f"Diskon 10%  : Rp {int(diskon)}")
print(f"Total Bayar : Rp {int(total_bayar)}")
print("============================")
print("Terima kasih telah berbelanja!")

Masukkan nama barang: sepatu
Masukkan harga barang (Rp): 200000
Masukkan jumlah barang: 2
sepatu ditambahkan ke keranjang.

Masukkan nama barang: selesai

=== STRUK BELANJA ===
sepatu (Rp 200000 x 2) = Rp 400000
----------------------------
Total Harga : Rp 400000
Diskon 10%  : Rp 40000
Total Bayar : Rp 360000
============================
Terima kasih telah berbelanja!